# Archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
ENV/
env/
env.bak/
venv.bak/

*.env
.env.*

logs/
*.log

build/
dist/
*.egg-info/

docs/_build/

.ipynb_checkpoints

*.DS_Store
*.sqlite3
EOL