# Existing dependencies
aiohttp
numpy
pandas
rasterio
shapely
pyproj
loguru
dash
plotly
python-dotenv
streamlit
seaborn
matplotlib
scipy

# Sphinx and extensions
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
